{{ $item := .item }}
{{ $title_url := "" }}
{{ if $item.links }}
  {{ $first_link := index $item.links 0 }}
  {{ $title_url = $first_link.url }}
{{ end }}

<div class="paper-item   view-citation full-list-item"  >


      <div class="row" style=" ">
            <div class="col-12 col-md-6">

                  <div class="pub-title ">
                    {{if $title_url }} <a href="{{ $title_url | safeURL }}" target="_blank" rel="noopener noreferrer"> {{end}}
                        <i class="far fa-file-alt pub-icon" aria-hidden="true"></i> {{ $item.title | markdownify | safeHTML}}
                        <span class="pub-journal">{{ $item.journal | markdownify | safeHTML}} ({{$item.year}}) </span>
                    {{if $title_url }} </a> {{end}}
                  </div>

                    <div class="pub-author">{{ $item.authors_text | markdownify | safeHTML}}</div>
            </div>

            <div class="col-12 col-md-6" >
                  <div class="  overflow-hidden">
                      {{ if $item.cover_image}}
                          <img src="{{$item.cover_image | relURL }}" alt="cover image" class="pub-cover-image">
                      {{ else }}
                          <img src="{{"images/publications/ph.jpg"| relURL }}" alt="cover image" class="pub-cover-image">
                      {{ end }}
                  </div>
            </div>

      </div>


  </div>





